/*
@media (min-width: 675px){
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }
    
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
    
}

@media (max-width: 675px){
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: .5em 0;
    }
}




@media (min-width:675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 65%;

    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -2;
    }

    .article-info {
        order: -1;
    }
}

*/



